<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <video width="250" autoplay loop muted playsinline>
              <source src="{{ site.github.url }}/assets/img/r20_n1p5_video_compressed.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <!-- <img src = "https://github.com/lliu12/lliu12.github.io/blob/main/assets/img/r20_n1p5_video_compressed.mp4?raw=true" width="250"/> -->
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Liu, L., Werfel, J., Toschi, F., & Mahadevan, L. <br>
              Noise-enabled goal attainment in crowded collectives. <br>
              Proceedings of the National Academy of Sciences, 123(7), 2026. </p>
            [
            <a href="https://www.pnas.org/doi/10.1073/pnas.2519032123">Paper</a> 
            / <a href="https://github.com/lliu12/ministage">Code</a> 
            ]
          </td>
        </tr>

        <!-- L. Liu, J. Werfel, F. Toschi, & L. Mahadevan, Noise-enabled goal attainment in crowded collectives, Proc. Natl. Acad. Sci. U.S.A. 123 (7) e2519032123, https://doi.org/10.1073/pnas.2519032123 (2026). -->
        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://github.com/lliu12/percolation_sim/blob/main/explosive_kirigami.png?raw=true" width="250"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Choi, G., Liu, L., & Mahadevan, L. <br>
              Explosive rigidity percolation in kirigami. <br>
              Proceedings of the Royal Society A, 479(2271), 20220798, 2023.</p>
            [
            <a href="https://royalsocietypublishing.org/doi/10.1098/rspa.2022.0798">Paper</a> /
            <a href="https://github.com/lliu12/percolation_sim">Code</a> ]
          </td>
        </tr>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "{{ site.github.url }}/assets/img/rlpe.png" width="150"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Finkelstein, M., Liu, L., Levy Schlot, N.,  Kolumbus, Y., Parkes, D., Rosenschein, J., & Keren, S. <br>
              Explainable reinforcement learning via model transforms. <br>
              NeurIPS, 2022.</p>
            [
            <!-- <a href="https://arxiv.org/abs/2209.12006">Paper</a> / -->
            <a href="https://proceedings.neurips.cc/paper_files/paper/2022/file/dbef234be68d8b170240511639610fd1-Paper-Conference.pdf">Paper</a> /
            <a href="https://d95a4782-4ebd-4b0d-aa3a-24320cc2cc6d.filesusr.com/ugd/c1d2d0_5929426580784e77bd3e85f09b7aff29.pdf">Poster</a> /
            <a href = "https://github.com/sarah-keren/RLPE"> Code </a>
            ]
          </td>
        </tr>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://github.com/lliu12/kirigami_sim/blob/master/media/penrose_expansion.gif?raw=true" width="150"/><img src = "https://github.com/lliu12/kirigami_sim/blob/master/media/penrose_hamiltonian.gif?raw=true" width="150"/> 
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Liu, L.*, Choi, G.*, & Mahadevan, L. <br>
              Quasicrystal kirigami. <br>
              Physical Review Research, 4(3), 033114, 2022.</p>
            <p><i>Editor's Suggestion.</i></p>
            [
            <a href="https://doi.org/10.1103/PhysRevResearch.4.033114">Paper</a> /
            <a href="https://github.com/lliu12/kirigami_sim">Code</a> ]
          </td>
        </tr>

        <!-- <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://raw.githubusercontent.com/kavyakvk/adversarial-environment-generation/pages/media/environment_screenshot_example.png?raw=true" width="120"/><img src = "https://raw.githubusercontent.com/kavyakvk/adversarial-environment-generation/pages/media/SwarmAgent_defaults_elite_evolution.gif?raw=true" width="110"/> 
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Kopparapu, K.*, Lin, E.*, & Liu, L.* <br> 
               Adversarial Environment Generation. December 2021.</p>
            [
            <a href="https://kavyakvk.github.io/adversarial-environment-generation/">Overview</a> /
            <a href="https://github.com/kavyakvk/adversarial-environment-generation/blob/main/Adversarial%20Environment%20Generation%20for%20Multi-Agent%20Evaluation.pdf">Paper</a> /
            <a href="https://github.com/kavyakvk/adversarial-environment-generation">Code</a> ]
          </td>
        </tr> -->

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "{{ site.github.url }}/assets/img/animation_17_v3.gif" width="300"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Liu, L.*, Choi, G.*, & Mahadevan, L. <br>
              Wallpaper group kirigami. <br>
              Proceedings of the Royal Society A. 477, 20210161, 2021.</p>
            <p><i>Quilt inspired by this work in <a href="https://www.unfiguring.org">Unfiguring.</a></i></p>
            [
            <a href="https://royalsocietypublishing.org/doi/full/10.1098/rspa.2021.0161#d1e5867">Paper</a>
            ]
          </td>
        </tr>


      </tbody></table>

    </td>
  </tr>
  </table>
  </div>
</div>



<!-- <div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div> -->
